<div class="container-fluid team__body">
    <div class="row">
        <div class=" col-sm-offset-2 col-sm-8">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 text-center team__regitser-header">
                    Create your team now!
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 text-center team__regitser-team-name">
                    <input type="email" class="form-control team__regitser-team-name-input text-center" name="teamName" [(ngModel)]="teamName"
                        placeholder="Team name" />
                    <div class="col-sm-offset-3 col-sm-6 text-center team__regitser-team-name">

                    </div>
                </div>                                      
            </div>
            <div class="alert alert-danger team-name__alert text-center" *ngIf="emptyName">
                <strong>Please enter a team name!</strong>
            </div>

            <!-- <div class="row challenge-container">
                <div class="col-sm-offset-3 col-sm-6 text-center">
                    <button class="btn btn-secondary btn-lg dropdown-toggle challenge-container__btn" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{challengeN}}
                    </button>
                    <div class="dropdown-menu">
                        <ul class="challenge-container__items">
                            <li *ngFor="let challenge of challenges" (click)="enter(challenge.name)" class="dropdown-item text-center">
                                <a>{{ challenge.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row alert alert-danger text-center" role="alert" *ngIf="challengeChosen==false">
                <strong>{{ alertMsg }}</strong>
            </div> -->
            <!-- <div>
                            <select  (change)="onSelectChallenge($event.target.value)" >
                                <option class="" *ngFor="let challenge of challenges" [selected]="challenge == alreadyExistingChallenge" [ngValue]="challenge">
                                    {{ challenge }}
                                </option>
                            </select>
                        </div> -->

            <!-- <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Large button
                            </button>
                            <div class="dropdown-menu">
                              ...
                            </div>
                          </div> -->
            <!-- <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Action
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div> -->
            <div class="container-fluid team__register-container">
                <div class="row alert alert-success text-center" *ngIf="created" role="alert">
                    <strong>You have just created a team!</strong>
                </div>
                <div class="row alert alert-danger text-center" role="alert" *ngIf="alertFlag">
                    <strong> {{ alertMsg }} </strong>
                </div>
                <!-- already invited members -->
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10 text-center team__register-team-add">
                        <div class="team__register-team-add-text row" for="email">Invite team members via their email</div>
                        <div class="row team__register-team-members" *ngIf="notAdmin;">
                            {{ myMail}}
                        </div>
                        <div class="row team__register-team-members" *ngFor="let item of teamEmails; let i = index;">
                            {{ item }}
                            <a (click)="removeFromTeam(i)" class="team__remove-member">x</a>
                        </div>
                    </div>
                    <app-invite-team-member (employee)="addEmployee($event)"></app-invite-team-member>
                    <div class="col-sm-offset-3 col-sm-6 alert alert-danger" *ngIf="alreadyInCurrentTeam || maxNumber">
                        <div class="text-center" *ngIf="alreadyInCurrentTeam">
                            <strong>This employee is already within your team</strong>
                        </div>
                        <div class="text-center" *ngIf="maxNumber">
                            <strong>You have reached the maximum number of members per team</strong>
                        </div>
                    </div>

                    <div class="col-sm-offset-1 col-sm-10 text-center team__register-team-add">
                        <div class="custom-control custom-radio">
                            <input type="checkbox" class="custom-control-input" id="allowOthers" name="allowOthers" value=true [(ngModel)]="allowOthers">
                            <label class="custom-control-label" for="defaultUnchecked">Check this box to enter skills you are seeking for your team, and invite entrants with those skills to add themselves to your team.</label>
                        </div>                        

                        <div class="col-sm-offset-2 col-sm-8 text-center team__regitser-team-name">
                            <input *ngIf="allowOthers" type="email" class="form-control team__regitser-desc-input text-center" name="lookingFor" [(ngModel)]="lookingFor"
                                placeholder="What are you looking for in you team members" />
                        </div>
                    </div>

                    <div class="col-xs-12 team__create-btn-container">
                        <input class="team__create-btn" *ngIf="teamEmails.length>0" type="submit" value="Create team" (click)="createTeam()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>