.resetPassword__main-container {
    min-height: 100vh;
    background-image: url("../../assets/images/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.resetPassword__form-container {
    margin-top: 15%;
    font-size: 2em;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5%;
}

.resetPassword__btn-container {
    text-align: right;
}

.resetPassword__btn {
    background-color: #6EA204;
    color: #ffffff;
    font-size: 0.75em;
    padding: 4%;
    border-color: #6EA204;
}

.resetPassword__error {
    border: 2px solid #CE1126;
}

.resetPassword__error-msg {
    font-size: 0.5em;
}