<div class="container-fluid footer__main-contaienr">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2 footer__contact-info">
      <div>*contact us on ....*</div>
      <div>*call us on ...*</div>
      <div>*..............*</div>
    </div>
    <div class="col-sm-9">
      <div class=" footer__main-text">
        Dell EMC Game Changers
      </div>
      <div class="footer__copyrights-text">
        *copyrights related text, specially to this event*
      </div>
    </div>
  </div>
</div>