.footer__main-contaienr {
    background-color: #444444;
    padding: 20px;
    z-index: 20;
    position: relative;

}

.footer__left-sub-container {
    font-size: 2em;
    color: #ffffff;
}

.footer__right-sub-container {
    font-size: 1.25em;
    color: #ffffff;
}