<div class="container-fluid team__body">
    <div class="alert alert-danger text-center" role="alert" *ngIf="errAlert">
        <strong> {{ errMessage }} </strong>
    </div>
    <div class="row">
        <div class=" col-sm-offset-2 col-sm-8">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 text-center team__edit-header">
                    Team Name: {{ team.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 text-center team__creator-header">
                    Creator: {{ creator }}
                </div>
            </div>
            <div class="row team__view-container">
                <!-- already invited members -->
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6 text-center team__view-team-add">
                        <div class="team__view-team-add-text row" for="email">Team Members</div>
                        <div class="row team__view-team-members" *ngFor="let item of team.members; let i = index;">
                            <label>{{ item.email }}</label>
                            <a *ngIf="isAdmin == true " (click)="deleteMember(item.email)">x</a>
                            <!-- <a *ngIf="item.email == user" (click)="leaveTeam(item.email)">x</a> -->
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row ">
                    <div class="col-sm-offset-3 col-sm-6 text-center team__view-team-add">
                        <div class="team__view-team-add-text row">
                            Idea: {{ ideaTitle }}
                        </div>
                        <div class="col-sm-offset-3 col-sm-6 text-center team__creator-header">
                            {{ ideaDescription }}
                        </div>
                    </div>
                </div>
                <br />

                <div class="row team__view-btn-container" *ngIf="isAdmin == true && !errAlert">
                    <app-invite-team-member (employee)="addMember($event)"></app-invite-team-member>
                    <!-- <app-invite-team-member  (employee) = "addEmployee($event)"></app-invite-team-member> -->
                    <!-- <input type="email" class="form-control" id="email"
                        [(ngModel)]="addedemail" name="addemail"> -->
                    <!-- <input class="team__view-btn" value = "Back to profile" (click)= "backToProfile()"> -->
                </div>
            </div>
            <br />
            <div class="col-sm-offset-3 col-sm-6 text-center team__creator-header">
                <a *ngIf="team.allowOthers == true && enableJoin == true" href='#/teams/join/{{teamName}}'>
                    <button class="join_btn joinLeave_btn">Join
                        Team</button>
                </a>
                <a *ngIf="userIsMember" (click)="leaveTeam()">
                    <button class="leave_btn joinLeave_btn" >
                        Leave team
                    </button>
                </a>
            </div>

        </div>
    </div>
    <div class="row team__view-btn-container" *ngIf="creator == user">
        <div class="col-sm-offset-3 col-sm-6 text-center">
            <button class="profile__btn-team" [routerLink]="['/editTeam']">Edit Team</button>
        </div>
    </div>
</div>