<div class="container-fluid team__body">
    <div class="row">
        <div class=" col-sm-offset-2 col-sm-8">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 text-center team__edit-header">
                    {{ team.name }}
                </div>
            </div>
            <div class="row alert alert-success login__error-msg" *ngIf="emailSent">
                An invitation is sent to the supplied email.
            </div>
            <div class="row alert alert-success login__error-msg" *ngIf="success">
                {{ successMsg }}
            </div>
            <div class="row alert alert-danger login__error-msg" *ngIf="error">
                {{ errorMsg }}
            </div>
            <!-- <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 text-center team__edit-team-name">-->
            <!-- need to edit the ngModel -->
            <!-- <input type="email" class="form-control team__edit-team-name-input" name="teamName" [(ngModel)] = "team.name" placeholder="Team name" />
                        </div>
                    </div> -->
            <div class="row team__view-container">
                <!-- already invited members -->
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6 team__view-team-add text-center">
                        <div class="team__view-team-add-text" for="email">Edit team members:</div>
                        <div class="team__view-team-members" *ngFor="let member of team.members; let i = index;">
                            {{ member.email }}
                            <a (click)="removeTeamMember(member.email)" class="team__remove-member"
                                *ngIf="member.email != creator.email">x</a>
                        </div>
                    </div>
                </div>
                <div class="row team__edit-team-member-container text-center">
                    <div class="col-sm-offset-3 col-sm-6 team__view-team-add">
                        <div class="team__view-team-add-text">Add other members:</div>
                    </div>
                    <app-invite-team-member (employee)="addTeamMember($event)" *ngIf="!error"></app-invite-team-member>
                </div>
                <br />
                <div class="col-sm-offset-3 col-sm-6 text-center team__view-team-members">
                    <div class="custom-control ">
                        <input type="checkbox" class="custom-control-input" id="allowOthers" name="allowOthers"
                         [(ngModel)]="allowOthers" (click)="editTeamSettings()">
                        <label class="custom-control-label" >Allow others to join</label>

                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-8 text-center">
                    <input *ngIf="allowOthers" class="form-control text-center"
                        name="lookingFor" [(ngModel)]="lookingFor"
                        (click)="editView=true"/>
                </div>
                <div *ngIf="editView" class="col-sm-offset-2 col-sm-8 text-center team__regitser-team-name">
                    <br/>
                    <button (click)="submitEdits()" class="btn join_btn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>