<div class="container-fluid home__parent-container">
  <div class="row home__main-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 home__main-text">
          GameChangers is the annual global innovation competition open to ALL Dell team members to provide innovative solutions to real business challenges.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 home__btn-container">
          <button class="btn-success home__btns home__btns--login" (click)="redirectToLogin()">Log in</button>
          <div class="rule">
            <div class="line"><div></div></div>
            <div class="words">Don't have an account?</div>
            <div class="line"><div></div></div>
        </div>
          <button class="btn-danger home__btns home__btns--register" (click)="redirectToRegister()">Sign Up</button>
      </div>
    </div>
    <div class="row home__gennext">
      <img class="" src="../../assets/images/gamechangers_email_header.png">
    </div>
    <!-- <div class="home__highlights-container col-sm-offset-2 col-sm-8">
      <div class="row home__highlights-container--header">
        <div class="col-sm-8 col-sm-offset-2 home__main-text-details">
            GameChangers 2019 Categories
        </div>
      </div>
      <div class="row home__highlights-container--body">
        <div class="col-sm-offset-1 col-sm-5">
            <div class="row">- Delight Customers</div>
            <div class="row">- Inspire Team Members</div>
        </div>
        <div class="col-sm-5">
            <div class="row">- Win Financially</div>
            <div class="row">- Grow the Business</div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row home__login-container">
    
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 home__calendar-main-text">
          Gain exposure to executives and showcase your spirit!
      </div> 
    </div>
    <div class="row home__calendar-container">
      <div class="col-sm-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="home__calendar-deadlines">Kickoff</th>
                <th scope="col" class="home__calendar-deadlines">Ideas Submission</th>
                <th scope="col" class="home__calendar-deadlines">Global Finalists</th>
                <th scope="col" class="home__calendar-deadlines">Finals</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="home__calendare-dates">May 14th</th>
                <td class="home__calendare-dates">June 11th</td>
                <td class="home__calendare-dates">July 30th</td>
                <td class="home__calendare-dates">Mid September</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="row home__uni-container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 home__uni-link-text" >
        To be engaged more, visit Game Changer at Inside Dell
        <a href="https://inside.dell.com/groups/gamechangers" target="_blank" class="home__inside-dell">here</a>.
      </div>
    </div>
  </div> 
</div>