<div class="container-fluid">
  <div class="row home__main-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 home__main-text">
        *main text for homepage*
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 home__main-text-details">
        *details about the main text/slogan*
      </div>
    </div>
  </div>
  <div class="row home__login-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 home__btn-container">
        <button class="btn-success home__btns">Log in</button>
        <button class="btn-danger home__btns">Register</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 home__calendar-main-text">
        *some note about not missing the next date*
      </div>
    </div>
    <div class="row home__calendar-container">
      <div class="col-sm-4 home__calendar-deadline-one">
        *some notes about the first deadline*
      </div>
      <div class="col-sm-4 home__calendar-deadline-two">
        *some notes about the second deadline*
      </div>
      <div class="col-sm-4 home__calendar-deadline-three">
        *some notes about the third deadline*
      </div>
    </div>   
  </div>
  <div class="row home__uni-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 home__uni-link-text">
        *details about the main text/slogan*
      </div>
    </div>
  </div> 
</div>