.home__parent-container {
    overflow-x: hidden;
}

.home__main-container, .home__login-container, .home__uni-container {
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.home__main-container {
    background-image: url("../../assets/images/home_ideas_background_alt4.jpg");
}

.home__login-container {
    background-image: url("../../assets/images/home_login_calendar_alt1.jpg");
}

.home__uni-container {
    background-image: url("../../assets/images/home_ideas_background.jpg");
    min-height: 50vh;
}

.home__main-text, .home__main-text-details, .home__calendar-main-text, .home__uni-link-text {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.home__highlights-container {
    border: 1px solid #ffffff;
    margin-top: 5%;
}

.home__highlights-container--header {
    border-bottom: 1px solid #ffffff;
}

.home__highlights-container--body {
    text-align: left;
    padding: 10px 0px;
    color: #ffffff;
    font-size: 1.25em;
}

.home__main-text {
    font-size: 2.75em;
    margin-top: 15%;
}

.home__main-text-details {
    font-size: 2.25em;
    color: #ffffff;
    padding-bottom: 10px;
}

.home__uni-link-text {
    font-size: 2.25em;
}

.home__calendar-main-text {
    font-size: 2.5em;
}

.home__main-text-details {
    margin-top: 2%;
}

.home__calendar-main-text {
    margin-top: 10%;
}

.home__btn-container {
    text-align: center;
}

.home__btns {
    color: #ffffff;
    font-size: 2em;
    border-radius: 3%;
    padding: 3%;
    width: 30%;
    height: 25%;
    margin-top: 15%; 
}

.home__btns--login {
    background-color: #6EA204;
}

.home__btns--register {
    background-color: #CE1126;
}

.home__calendar-container {
    margin-top: 5%;
    min-height: 200px;
    padding: 0px 30px;
}

.home__calendar-deadlines {
    text-align: center;
    color: #ffffff;
    font-size: 1.75em;
}

.home__calendare-dates {
    color: #CE1126;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.home__uni-link-text {
    margin-top: 10%;
}

@media only screen and (max-width: 600px) {
    .home__main-text {
        font-size: 1.5em;
    }

    .home__main-text-details, .home__calendar-main-text, .home__uni-link-text {
        font-size: 1em;
    }

    .home__calendar-deadlines, .home__btns {
        font-size: 1em;
    }
}

.home__inside-dell {
    color: #007DB8;
}