<div class="container register__main-container">
  <div class="jumbotron register__sub-container">
    <div class="alert alert-danger" *ngIf="errorAlert">
      {{ errorMessage }}
    </div>
    <form class="row form-horizontal" [formGroup]="form" (ngSubmit)="register()">
      <fieldset>
        <div id="legend">
          <legend class="">Register</legend>
        </div>
        <div class="control-group">
          <!-- Username -->
          <label class="control-label">Name *</label>
          <div class="controls">
            <input type="text" formControlName="name" id="name" name="name" placeholder="John Doe" value=" " class="input-xlarge" required>
            <i class="help-block">Please provide your preferred name.</i>
          </div>
          <div *ngIf="(form.get('name').invalid && form.get('name').touched || (submit && form.get('name').invalid))" class="alert alert-danger">
            <div *ngIf="form.get('name').errors.required">Please enter your name. </div>
          </div>
        </div>

        <div class="control-group">
          <!-- E-mail -->
          <label class="control-label" for="email">E-mail *</label>
          <div class="controls">
            <input type="text" id="email" formControlName="email" name="email" placeholder="michael@dell.com" class="input-xlarge" lowercase>
            <i class="help-block">Please provide your corporate email address.</i>
          </div>
          <div *ngIf="(form.get('email').invalid && form.get('email').touched || (submit && form.get('email').invalid))" class="alert alert-danger">
            <div *ngIf="form.get('email').errors.required">Please enter your corporate email address. </div>
            <div *ngIf="form.get('email').errors.pattern">You should provide your corporate email address. </div>
          </div>
        </div>

        <div class="control-group">
          <!-- Password -->
          <label class="control-label">Password *</label>
          <div class="controls">
            <input type="password" formControlName="password" id="inputPassword" placeholder="Password">
            <i class="help-block">Please enter your password</i>
          </div>
          <div *ngIf="(form.get('password').invalid && form.get('password').touched || (submit && form.get('password').invalid))" class="alert alert-danger">
            <div *ngIf="form.get('password').errors.required">Please enter your password. </div>
            <div *ngIf="form.get('password').errors.minlength">Your password should be at least 8 characters. </div>
          </div>
        </div>

        <div class="control-group">
          <!-- Confirm Password -->
          <label class="control-label">Confirm Password *</label>
          <div class="controls">
            <input type="password" formControlName="passConf" id="password_confirm" name="password_confirm" placeholder="Confirm Password"
              class="input-xlarge">
            <i class="help-block">Please confirm password</i>
          </div>
          <div *ngIf="(form.get('passConf').invalid && form.get('passConf').touched || (submit && form.get('passConf').invalid))" class="alert alert-danger">
            <div *ngIf="form.get('passConf').errors.required">Please confirm your password. </div>
            <div [hidden]="form.get('passConf').errors.required" *ngIf="!match">Your passwords do not match. </div>
          </div>
          <div *ngIf="form.get('passConf').touched && !match" class="alert alert-danger">
            <div [hidden]="form.get('passConf').invalid" *ngIf="!match">Your passwords do not match. </div>
          </div>
        </div>

        <div class="control-group">
          <!-- office location -->
          <label class="control-label">What is your region? *</label>
          <div class="controls">
            <select class="form-control" formControlName="region" (click)="getChapters()">
              <option *ngFor="let region of regions" [ngValue]="region" >
                {{region}}
              </option>
            </select>
            <i class="help-block chapter">Please specify your region.</i>
            <div *ngIf="(form.get('region').invalid && form.get('region').touched || (submit && form.get('region').invalid))" class="alert alert-danger">
              <div *ngIf="form.get('region').errors.required">Please specify your region. </div>
            </div>
          </div>
        </div>

        <div class="control-group">
          <!-- office location -->
          <label class="control-label">Where is your chapter? *</label>
          <div class="controls">
            <select class="form-control" formControlName="chapter">
              <option *ngFor="let chapter of chapters" [ngValue]="chapter">
                {{chapter}}
              </option>
            </select>
            <i class="help-block chapter">Select your chapter or the chapter that is closest to you.</i>
            <div *ngIf="(form.get('chapter').invalid && form.get('chapter').touched || (submit && form.get('chapter').invalid))" class="alert alert-danger">
              <div *ngIf="form.get('chapter').errors.required">Please select your chapter. </div>
            </div>
          </div>
        </div>

         <i class="help-block chapter" style="font-size:20px"><input [(ngModel)]="hasIdea" [ngModelOptions]="{standalone: true}" type="checkbox" style="margin-right:10px"/>I have an idea and I want to create a team</i>

        <div class="control-group">
          <input type="submit" class="btn btn-success">
        </div>
      </fieldset>
    </form>
      <!-- <input [(ngModel)]="hasIdea" type="checkbox"/> -->
    
  </div>
</div>
