.users__main-container {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 200px;
}


.users__brief-container {
    margin: 10px 0px;
}
.users__main-text {
    font-size: 2em;
    color: #000000;
    margin-top: 1%;
}
.users__table {
    font-size: 1.2em;
    color: #000000;
    /* border: 1px solid #000000; */
    padding: 10px;
    margin-top: 2%;
}

 #loader {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px); 
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }
  @keyframes animate {
    0% { 
      transform: rotate(0deg)
    }
    100% { 
      transform: rotate(220deg)
    }
  }
  
  #loader:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%; 
    height: 80px;
    width: 80px;
    position: absolute; 
  } 
  @keyframes animate2 {
    0% {
      box-shadow: inset rgb(98, 175, 111) 0 0 0 17px;
      transform: rotate(-140deg);
    }
    50% {
      box-shadow: insetrgb(98, 175, 111) 0 0 0 2px;
    }
    100% {
      box-shadow: inset rgb(98, 175, 111) 0 0 0 17px;
      transform: rotate(140deg);
    }
  }