.team__main-container {
    padding-top: 70px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 200px;
}
.sendEmail {
    background-color: #007DB8; 
    border-color: #007DB8; 
    color: #ffffff;        
   }

   .text__area{
    width: 600px;
    height: 150px
}