<div class="container-fluid profile__main-container">
    <div class="profile__info row">
        <div class="alert alert-danger" role="alert" *ngIf="alertFlag">
            {{ alertMsg }}
        </div>
        <div class="row profile__logout-container">
            <div class="col-sm-offset-10 col-sm-2">
                <!-- <button class="profile__logout-btn" (click)="redirectToHome()">Logout</button> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 text-center profile__info-main-text">
                {{ currentUser.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 profile__info-details">
                <div class="row profile__brief-container" *ngIf="currentUser.brief !== ''">
                    <div class="col-sm-offset-3 col-sm-6 text-center">
                        <!-- Bio: {{ currentUser.brief }} -->
                        <li>Email: {{ currentUser.email }}</li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>Position: {{ currentUser.position }}</li>
                            <li>Location: {{ currentUser.location }}</li>
                            <!-- <li>Region: {{ currentUser.region }}</li>             -->
                            <!-- <li>Remote User: {{ currentUser.isRemote }}</li>   -->
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Team Name: {{ currentUser.teamMember === "-1"? " " : currentUser.teamMember }}</li>
                            <!-- <li>Team Creator: {{ currentUser.creatorOf === "-1"? false : currentUser.creatorOf }}</li> -->
                            <!-- <li>Career Level: {{ currentUser.careerLevel }}</li> -->
                            <li>Previous Participation: {{ currentUser.previousParticipation === true? "Yes": "No" }}</li>
                            <!-- <li>GenNext Member: {{ currentUser.genNextMember === true? "Yes":"No" }}</li>   -->
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #invitationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class='modal-dialog modal-lg'>
            <div id="transparent_div" class="modal-content">
                <div class="alert alert-success text-center" *ngIf="successAlert">
                    {{ successMsg }}
                </div>
                <div class="alert alert-danger text-center" *ngIf="errorAlert">
                    {{ errorMsg }}
                </div>
                <h1 align="center" *ngIf="noInvitations == true">There are no Inviations</h1>
                <h1 align="center" *ngIf="teamMember != -1">You already have a team</h1>
                <ul class="invitations" *ngIf="teamMember == -1 && noInvitations == false">
                    <h3>Team Name</h3>
                    
                    <li class="row" *ngFor="let team of teams">
                        <div class=" teamName col-sm-6 bottom-spacing--input" (click)="redirectToTeamInvitation(team.name)">
                            <a>{{ team.name }}({{ team.creatorName}})</a>
                        </div>
                        
                        <div class=" btns col-sm-6 bottom-spacing col-align-right">
                            <button class="btn btn-primary" (click)="acceptInvitation(team.name)">accept</button>
                            <button class="btn btn-danger" (click)="rejectInvitation(team.name)">reject</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="alertFlag">
        {{ errorMsg }}
    </div>
    <div class="profile__control-panel row">
        <!-- <div class="profile__btns-containerborder  col-sm-2 text-center">
            <div class="row">
                <button class="profile__btn-team col-xm-4" (click)="redirectToTeam()">Team</button>
            </div>
            <div class="row profile__btn-team-desc">
                View your team members!
            </div>
        </div> -->
        <div class="profile__btns-container--border col-sm-3 text-center">
            <div class="row">
                <button class="profile__btn-idea" (click)="redirectToIdea()">Idea</button>
            </div>
            <div class="row profile__btn-idea-desc" *ngIf="teamMember == -1">
                Submit an idea!
            </div>
            <div class="row profile__btn-idea-desc" *ngIf="teamMember != -1">
                View your idea!
            </div>
        </div>
        <div class="profile__btns-container--border col-sm-3 text-center">
            <div class="row">
                <button class="profile__btn-team" (click)="redirectToJoinTeam()" *ngIf="teamMember == -1">Join Team</button>
                <button class="profile__btn-team" (click)="redirectToTeam()" *ngIf="teamMember != -1">Team</button>
            </div>
            <div class="row profile__btn-idea-desc" *ngIf="teamMember == -1">
                Join a team!
            </div>
            <div class="row profile__btn-team-desc" *ngIf="teamMember != -1">
                View your team members!
            </div>
        </div>
        <div class="profile__btns-container col-sm-3 text-center">
            <div class="row">
                <button class="profile__btn-idea " (click)="openEditModal(invitationModal)">Invitations</button>
            </div>
            <div class="row profile__btn-idea-desc">
                View your invitations
            </div>
        </div>
    </div>
</div>