.profile__main-container {
    overflow-x: hidden;
    background-image: url("../../assets/images/profile_control_panel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 30px;
}
.teamName{
    padding-top: 1%
}


h1{
    color: #ffffff;
}

h3{
    color: #ffffff;
}
.modal-content {
    background-color:#000;
}

.profile__brief-container {
    margin: 10px 0px;
}

.profile__info {
    min-height: 65vh;
    border-bottom: 2px solid #ffffff;
}

.profile__info-main-text {
    font-size: 2em;
    color: #ffffff;
    margin-top: 1%;
}

.profile__info-details {
    font-size: 1.5em;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    margin-top: 2%;
}

.profile__control-panel {
    min-height: 35vh;
    margin-left: 12.5%;
}

.profile__btn-team, .profile__btn-idea {
    color: #ffffff;
    font-size: 2em;
    padding: 2%;
    width: 90%;
}

.profile__btn-team {
    background-color: #007DB8;
    border-color: #007DB8;
}

.profile__btn-Invite {
    background-color: #007DB8;
    border-color: #007DB8;
}


.profile__btn-idea {
    background-color: #F2AF00;
    border-color: #F2AF00;
}

 .profile__btns-container--border, .profile__btns-container {
    margin-top: 5%;
}

.profile__btns-container--border {
    border-right: 1px solid #ffffff;
}

.profile__btn-idea-desc, .profile__btn-team-desc {
    font-size: 1.2em;
    margin-top: 3%;
    color: #ffffff;
}

.profile__logout-container {
    margin-top: 5%;
}

.profile__logout-btn {
    font-size: 1.25em;
    color: #ffffff;
    background-color: #CE1126;
    border-color: #CE1126;
    padding: 10px 20px;
}
#transparent_div > *
{
    opacity: 1;
}

@media (max-width: 980px) and (min-width: 768px) 
  {
    .profile__btn-idea, .profile__btn-team {
        font-size: 1.2em;
    }
}

.alert-msg {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}