<div class="container-fluid forgotPassword__main-container">
  <div class="row">
      <div class="col-sm-offset-4 col-sm-4 forgotPassword__form-container">
          <div *ngIf = "wrongCredentials" class="alert alert-danger">
              <div *ngIf = "wrongCredentials" class="forgotPassword__error-msg">{{error}}</div>       
          </div>
          <div *ngIf = "sendSuccess" class="alert alert-success">
            <div *ngIf = "sendSuccess" class="forgotPassword__error-msg">We have sent an email to you, please follow the instructions in this email. </div>       
        </div>
          <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                  <label for="exampleInputEmail1">Please enter your Email</label>
                  <input [class.forgotPassword__error]="(form.get('email').invalid && form.get('email').touched) || (formSubmitted && form.get('email').invalid) || wrongCredentials" formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div *ngIf = "(form.get('email').invalid && form.get('email').touched) || (formSubmitted && form.get('email').invalid)" class="alert alert-danger">
                  <div *ngIf = "form.get('email').errors.required" class="forgotPassword__error-msg">You should not leave your email entry. </div>       
              </div>
              <div class="forgotPassword__btn-container">
                  <button [disabled]="formSubmitted" class="btn btn-default forgotPassword__btn">Send email</button>
              </div>
          </form>
      </div>
  </div>
</div>