.idea__container {
    padding-top: 15%;
    min-height: 100vh;
    background-image: url("../../assets/images/register_idea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    
}

.idea__main-title {
    font-size: 2em;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 70px;
    font-style: inherit;
}

.idea__regitser-idea-name-input {
    font-size: 1.2em;
    padding: 20px 10px;
    margin-top: 5%;
}

.idea__form-container {
    margin-top: 1%;
    width:45%;
    position:center;
    margin-left: 28%;
}
.idea__upload {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: white;
    width: 100%;
    padding: 11px 5px;
}

.idea__submit-btn {
    font-size: 1.2em;
    padding: 10px 8px;
    background-color: #6EA204;
    border-color: #6EA204;
    color: #ffffff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.idea__submit-btn:disabled {
    background-color: dimgray;
    border-color: dimgray;
}

.idea__error {
    border: 2px solid #CE1126;
}

.idea__error-msg {
    color: #CE1126;
    font-weight: bold;
}

.idea__select-input {
    font-size: 1.2em;
    height: 50px;
}


.loader-background {
    background: rgb(122, 112, 112); 
    opacity: 90%;
  }
  h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: 1;
      font-family: sans-serif;
    color: #fff;
  }
  #loader {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px); 
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }
  @keyframes animate {
    0% { 
      transform: rotate(0deg)
    }
    100% { 
      transform: rotate(220deg)
    }
  }
  #loader:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%; 
    height: 80px;
    width: 80px;
    position: absolute; 
  } 
  @keyframes animate2 {
    0% {
      box-shadow: inset rgb(98, 175, 111) 0 0 0 17px;
      transform: rotate(-140deg);
    }
    50% {
      box-shadow: insetrgb(98, 175, 111) 0 0 0 2px;
    }
    100% {
      box-shadow: inset rgb(98, 175, 111) 0 0 0 17px;
      transform: rotate(140deg);
    }
  }